html {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  a {
    color: white;
    text-decoration: none;
    margin: 20px;
  }
  img {
    float: left;
    height: 120px;
    width: 120px;
  }
  color: white;
  text-align: center;
  background: #022FE2;
}

nav.pages {
  padding: 20px;
  background: black;
  font-size: 25px;
}

h1 {
  font-size: 100px;


  padding-bottom: 20px;
  font-family: "Inter Semi Bold", sans-serif;

}
div {
  margin-left: 10%;

  color: white;
  h2 {
    font-size: 50px;
    border-bottom: 1px solid white ;

    margin-right: 10%;
  }
  h3 {

    font-size: 30px;

    margin-top: 40px;
    margin-bottom: 30px;
  }
  p {

    width: 40%;

    font-size: 25px;
    margin-bottom: 20px;

  }
  p.about {
    color: #A5A5A5;
  }
  a {
    font-size: 25px;
    color: dodgerblue;
  }
}
h4 {
  font-size: 30px;
  padding: 20px;
}

strong {
  font-weight: bold;
}
b {
  font-weight: bold;
}
em {
  font-style: italic;
}
picture {
  align-content: center;
  margin: 50px;
  float: right;
}
small {
  font-size: 50%;
}

